.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.logo {
  display: flex;
  align-items: center;
  font-size: calc(10px + 5vmin);
  font-weight: 500;
}

.logo-hl {
  margin-right: 1rem;
  background-color: #57a9fb;
  padding: 2px 10px;
  color: #fff;
  border-radius: 5px;
}
.list {
  font-size: 18px;
  text-align: left;
}

.logo-shl {
  color: #57a9fb;
}

.App-link {
  color: #57a9fb;
}

.title {
  color: #86909c;
}

li {
  color: #86909c;
}

.code {
  font-size: 18px;
  background-color: #57a9fb;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}
